.d-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.d-flex-center {
  justify-content: center;
}

.hello {
  font-size: 2rem;
  text-align: center;
}

.avatarImg {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

a.active {
  color: blue
}

label {
  display: inline-block;
  width: 120px;
}

input.b-error {
  border: 1px solid red
}

.error {
  color: red
}

.transition {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.transition.on {
  opacity: 1
}
